html, body{
    margin: 0;
    /*height: 100%;*/
    background-color: #F7ECDE;
    /*overflow: hidden;*/
}
ul, ol {
    list-style: none;
}

a {
    text-decoration: none
}
.index_header{
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #876445;
    background-color: #ffffff;
    padding: 0px;

    display: flex;
    flex-direction: column;
}
.header_title {
    font-weight: 800;
    font-size: 75px;
    font-family: 'Gamja Flower', cursive;
}
.header_subtitle{
    font-size: 30px;
    font-family: 'Stylish', sans-serif;

}
.main_page{
    margin: 0 auto;
    width: 90%;
    padding-bottom: 5%;

    /*height: 100%;*/
    /*border: 1px solid black;*/
}
.opening_message_container{
    padding: 20px;
}
.opening_message{
    /*position: absolute;*/
    /*top: 20px;*/
    font-size: 20px;
    font-weight: bold;
}
.add_button_container{
    bottom: 10vh;
    right: 10vh;
    position: fixed;
}
.add_button{
    margin-top: 10px;
    width: 100px;
    height: 70px;
    background-color: #876445;
    display : flex;
    justify-content: center;
    align-items : center;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgb(1 1 1 / 10%);

}
.add_button:hover{
    transform: scale(0.95);
    transition: 0.3s ease;
}
.add_button i {
    color: #F4DFBA;
    font-size: 50px;
}

.user_img{
    border-radius: 50%;
    width:70px;
    height: 70px;
    overflow: hidden;
}
.user_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.update_container{
    height: 850px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;

}
.update_img{
    width: 450px;
}
.update_img_container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

}

/*cafe music css part*/
.add_button2{
    bottom: 10vh;
    right: 10vh;
    position: fixed;
    width: 100px;
    height: 70px;
    background-color: #876445;
    display : flex;
    justify-content: center;
    align-items : center;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgb(1 1 1 / 10%);

}
.add_button2:hover{
    transform: scale(0.95);
    transition: 0.3s ease;
}
.add_button2 i {
    color: #F4DFBA;
    font-size: 50px;
}
.cafemusic{
    font-family: 'Stylish', sans-serif;
    color: #876445 !important;
}
