<div class="modal" id="{{ cafe._id }}">
    <div
            class="modal-background"
            onclick='$("#{{ cafe._id }}").removeClass("is-active")'
    ></div>
    <div class="modal-content">
        <div class="box">
            <div class="cafe_content">
                <article class="">
                    <div class="media-content">
                        <h1 class="post_cafe_header">Cafe Post</h1>
                        <hr class="draw_line">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">

                        <h1>카페명: {{ cafe.cafe_name }}</h1>
                        <h1>주소: {{ cafe.cafe_address }}</h1>
                        <h1>전화번호: {{ cafe.cafe_tel }}</h1>
                        <h1>오픈시간: {{ cafe.cafe_open_hours }}</h1>
                    </div>
                </article>
            </div>
            <footer class="card-footer main_detail">
                {% if user_info.username==cafe.username %}
                    <a href="/cafe/update?cafe_id={{ cafe._id }}" class="card-footer-item">Edit</a>
                    <a href="/cafe/delete?cafe_id={{ cafe._id }}" class="card-footer-item">Delete</a>
                {% endif %}
                <a class="level-item is-sparta card-footer-item" aria-label="heart" onclick="toggle_like('', 'heart')">
                    <span class="icon is-small">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </span>
                        &nbsp;
                    <span class="like-num">2.7k</span>
                </a>
            </footer>
        </div>
    </div>
    <button
            class="modal-close is-large"
            aria-label="close"
            onclick='$("#{{ cafe._id }}").removeClass("is-active")'
    ></button>
</div>
{#  post_cafe_  #}


{#<div class="modal" id="{{ cafe._id }}">#}
{#    <div class="modal-background" onclick='$("#{{ cafe._id }}").removeClass("is-active")'></div>#}
{#    #}
{##}
{#    <div class="modal-content">#}
{#        <div class="card">#}
{#            <header class="card-header">#}
{#                <p class="card-header-title">#}
{#                    Cafe Post#}
{#                </p>#}
{#            </header>#}
{#            <div class="card-content">#}
{#                <div class="content">#}
{##}
{#                    <figure class="image is-1280x960">#}
{#                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">#}
{#                    </figure>#}
{##}
{#                    content#}
{##}
{#                    <br>#}
{#                    <time datetime="2016-1-1">시간 함수 몇분전</time>#}
{#                </div>#}
{#            </div>#}
{#            <footer class="card-footer">#}
{#                <a href="#" class="card-footer-item">Edit</a>#}
{#                <a href="#" class="card-footer-item">Delete</a>#}
{#            </footer>#}
{#        </div>#}
{#    </div>#}
{#    <button class="modal-close is-large" aria-label="close"#}
{#            onclick='$("#{{ cafe._id }}").removeClass("is-active")'></button>#}
{#</div>#}
