<div class="modal" id="modal-post2">
  <div
    class="modal-background"
    onclick='$("#modal-post2").removeClass("is-active")'
  ></div>
  <div class="modal-content">
    <div class="box">
      <article class="media">
        <div class="media-content">
            <p class="title is-3 font_gamja_cursive">카페에서 듣고 싶은 음악 추천하기</p>
          <!--modal content-->
          <div class="control" style="margin-bottom: 10px">
            <label>Youtube Url</label>
            <input
              id="cafeMusicUrl"
              class="input is-hovered"
              type="email"
              placeholder="Youtube Url을 입력해주세요"
            />
          </div>
          <!--modal nav바-->
          <nav class="level is-mobile">
            <div class="level-left"></div>
            <div class="level-right">
              <div class="level-item">
                <a class="button is-sparta" onclick="cafemusic_accept()">추천하기</a>
              </div>
              <div class="level-item">
                <a
                  class="button is-sparta is-outlined"
                  onclick='$("#modal-post2").removeClass("is-active")'
                  >취소</a
                >
              </div>
            </div>
          </nav>
        </div>
      </article>
    </div>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    onclick='$("#modal-post2").removeClass("is-active")'
  ></button>
</div>